{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <h1>Ecommerece</h1>
        <h2>Categories</h2>
        {% for category in categories %}
            <ul>
                <a href="{% url 'category_details' category.id %}">
                    <li>{{category.category_name}}</li>
                </a>
            </ul>
        {% endfor %}
        <h2>Products</h2>
        {% for product in products %}
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'product_details' product.id %}">
                        <img src="{{product.product_images.url}}" />
                        <h6>{{product.product_name}}</h6>
                        <h6>{{product.product_code}}</h6>
                        <h6>{{product.product_mfg_date}}</h6>
                    </a>
                </div>
            </div>

        {% endfor %}

</div>

{% endblock %}